In [34]:
# Create a dictionary named dict1 then add key and values.
# When you print output of dict1 will be shown as {'Peas': 55, 'Canola': 66, 'Oat': 65}.
dict1 = {}

In [35]:
dict1['Peas'] = 55
dict1['Canola'] = 66
dict1['Oat'] = 65

In [36]:
dict1

{'Peas': 55, 'Canola': 66, 'Oat': 65}

In [37]:
# In this cell you need to change the assigned value of Peas to 66 and print dict1 again.
dict1['Peas'] = 66

In [38]:
dict1

{'Peas': 66, 'Canola': 66, 'Oat': 65}

In [40]:
#Now use For Loop and print values and key inside dict1. Your output will look like:
# Peas
# 66
# and so on.

for key, value in dict1.items():
    print(key)
    print(value)

Peas
66
Canola
66
Oat
65

In [46]:
# Method 1
# Ceate a list that consist of square of ls values.
ls = [2, 7, 9, 4]
squared_ls = [x**2 for x in ls]
print(squared_ls)

[4, 49, 81, 16]

In [49]:
# Method 2
ls = [2, 7, 9, 4]

In [50]:
[x**2 for x in ls]

[4, 49, 81, 16]

In [57]:
# What is shape of the array?
import numpy as np

In [58]:
ar_1 = np.array([[3, 4, 5],
                 [3, 4, 5]])

In [59]:
ar_1.shape

(2, 3)

In [96]:
# Print first row of ar_2
ar_2 = ([[3, 4, 5],
         [8, 4, 1]])

In [69]:
ar_2[0]

[3, 4, 5]

In [105]:
# Write a code that will print 1 in ar_2.
print(ar_2[1][2])

1

In [87]:
# Print entire mean of ar_2
np.mean(ar_2)

4.166666666666667

In [99]:

# Print each columns' mean
np.mean(ar_2, axis=0)

array([5.5, 4. , 3. ])

In [93]:
# Print entire standard deviation  of ar_2
np.std(ar_2)

2.1147629234082532

In [100]:
# Print each rows' standard deviation.
np.std(ar_2, axis=0)

array([2.5, 0. , 2. ])

In [102]:
# Find the difference between mean and median of entire ar_2.
# find median of entire ar_2
np.mean(ar_2) - np.median(ar_2)

0.16666666666666696